@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

@theme {
    --color-primary: #0a192f;
    --color-neutral: #233554;
    --color-secondary: #64ffda;
    --color-accent: #ccd6f6;
}

[data-theme="light"] {
    --color-primary: #F0F5F9;
    --color-neutral: #C9D6DF;
    --color-secondary: #52616B;
    --color-accent: #1E2022;
}

[data-theme="dark-theme-1"] {
    --color-primary: #222831;
    --color-neutral: #393E46;
    --color-secondary: #00ADB5;
    --color-accent: #EEEEEE;
}

[data-theme="light-theme-1"] {
    --color-primary: #FFFBDE;
    --color-neutral: #91C8E4;
    --color-secondary: #749BC2;
    --color-accent: #4682A9;
}


/* for TypeWriter.jsx */
.typing-cursor {
    border-right: 2px solid;
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--color-secondary);
    }
}




/* for ImageModel.jsx */

/* Fade in for the background */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Zoom in for the image */
@keyframes zoomIn {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Utility classes */
.animate-fadeIn {
    animation: fadeIn 0.2s ease-out;
}

.animate-zoomIn {
    animation: zoomIn 0.2s ease-out;
}